### SQL Homework
Use this notebook to answer the questions.
It can be in the same project as the previous homework.  
When you are ready, **upload** to your github repo, and send me the link (just zip a txt file with the repo's address, and upload it as the homework).  
If your repo is private, invite me: balazs.balogh@cubixedu.com.

#### Import the SparkSession, create it then load the taxi data (yellow_tripdata_2024-08.parquet)

In [1]:
from datetime import datetime, date

from pyspark.sql import SparkSession
from pyspark.sql.types import (
    StructType,
    StructField,
    IntegerType,
    StringType,
    DateType,
    TimestampType
)

spark = (
    SparkSession
    .builder
    .appName("SQL")
    .master("local[*]")
    .getOrCreate()
)

taxi_data_2024_08 = (
    spark
    .read
    .format("parquet")
    .load("C:\\Users\\SZABGAB\\cubix_data_engineer_pyspark_tutorial\\src\\data\\yellow_tripdata_2024-08.parquet")
)

taxi_data_2024_08.createOrReplaceTempView("taxi_2024_08")

#### 1. What is the total fare amount for all trips?  
Please round the answer to two decimal places.

In [ ]:
spark.sql("""
    
    SELECT
        ROUND(SUM(fare_amount),2) AS total_fare_amount
    FROM
        taxi_2024_08

""").show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|       1| 2024-08-01 00:21:00|  2024-08-01 00:36:13|              1|          7.4|         1|                 N|         138|          80|           1|       28.9| 7.75|    0.5|      7.65|         0.0|                  1.0|        45.8|                 0.0|       1.75|
|       2| 2024-08-01 00:20:01|  2024-08-01 00:41:47|              1|         9.91|         1|                 N|         138|         239|           1|       40.8|  6.0|    0.5|     11.55|        6.94|                  1.0|       71.04|                 2.5|       1.75|
|       1| 2024-08-01 00:17:52|  2024-08-01 00:41:45|              0|         13.4|         1|                 N|         138|          88|           1|       52.0|10.25|    0.5|      15.0|         0.0|                  1.0|       78.75|                 2.5|       1.75|
|       1| 2024-08-01 00:49:08|  2024-08-01 00:55:56|              0|          3.9|         1|                 N|         209|         137|           3|       17.0|  3.5|    0.5|       0.0|         0.0|                  1.0|        22.0|                 2.5|        0.0|
|       1| 2024-08-01 00:38:52|  2024-08-01 00:42:34|              1|          0.4|         1|                 N|         148|         144|           2|        5.1|  3.5|    0.5|       0.0|         0.0|                  1.0|        10.1|                 2.5|        0.0|
|       1| 2024-08-01 00:57:59|  2024-08-01 01:03:14|              1|          0.4|         1|                 N|         148|         144|           1|        5.8|  3.5|    0.5|      2.15|         0.0|                  1.0|       12.95|                 2.5|        0.0|
|       2| 2024-08-01 00:15:46|  2024-08-01 00:29:45|              2|         3.21|         1|                 N|         211|         233|           1|       16.3|  1.0|    0.5|      2.13|         0.0|                  1.0|       23.43|                 2.5|        0.0|
|       2| 2024-08-01 00:32:17|  2024-08-01 00:45:53|              1|          3.8|         1|                 N|         170|         239|           1|       17.7|  1.0|    0.5|      4.54|         0.0|                  1.0|       27.24|                 2.5|        0.0|
|       2| 2024-08-01 00:48:16|  2024-08-01 01:09:23|              1|         5.54|         1|                 N|         239|         148|           1|       27.5|  1.0|    0.5|       6.5|         0.0|                  1.0|        39.0|                 2.5|        0.0|
|       2| 2024-07-31 23:30:15|  2024-07-31 23:40:24|              1|         1.56|         1|                 N|         164|         229|           1|       11.4|  1.0|    0.5|       3.0|         0.0|                  1.0|        19.4|                 2.5|        0.0|
|       2| 2024-08-01 00:04:56|  2024-08-01 00:12:11|              1|         1.32|         1|                 N|          48|          68|           1|        9.3|  1.0|    0.5|      3.58|         0.0|                  1.0|       17.88|                 2.5|        0.0|
|       2| 2024-08-01 00:13:30|  2024-08-01 00:15:39|              1|         0.45|         1|                 N|          79|         107|           1|        5.1|  1.0|    0.5|      2.02|         0.0|                  1.0|       12.12|                 2.5|        0.0|
|       2| 2024-08-01 00:18:32|  2024-08-01 00:33:19|              1|         2.65|         1|                 N|         107|          48|           1|       16.3|  1.0|    0.5|      4.26|         0.0|                  1.0|       25.56|                 2.5|        0.0|
|       1| 2024-08-01 00:44:42|  2024-08-01 01:06:28|              2|         11.7|         1|                 N|         138|          64|           2|       45.0| 7.75|    0.5|       0.0|         0.0|                  1.0|       54.25|                 0.0|       1.75|
|       2| 2024-08-01 00:13:15|  2024-08-01 00:18:57|              1|         1.54|         1|                 N|         163|         236|           1|        8.6|  1.0|    0.5|      2.72|         0.0|                  1.0|       16.32|                 2.5|        0.0|
|       1| 2024-08-01 00:44:03|  2024-08-01 00:50:01|              5|          0.4|         1|                 N|          48|         230|           2|        7.2|  3.5|    0.5|       0.0|         0.0|                  1.0|        12.2|                 2.5|        0.0|
|       2| 2024-08-01 00:22:52|  2024-08-01 00:35:17|              1|         2.19|         1|                 N|          48|         137|           1|       13.5|  1.0|    0.5|       3.7|         0.0|                  1.0|        22.2|                 2.5|        0.0|
|       2| 2024-08-01 00:01:40|  2024-08-01 00:14:31|              1|         2.58|         1|                 N|          87|         137|           1|       14.9|  1.0|    0.5|      3.98|         0.0|                  1.0|       23.88|                 2.5|        0.0|
|       1| 2024-08-01 00:12:07|  2024-08-01 00:21:43|              2|          1.4|         1|                 N|         231|         148|           1|       10.7|  3.5|    0.5|       3.1|         0.0|                  1.0|        18.8|                 2.5|        0.0|
|       1| 2024-08-01 00:42:20|  2024-08-01 00:49:14|              1|          1.1|         1|                 N|         231|         209|           1|        8.6|  3.5|    0.5|       2.7|         0.0|                  1.0|        16.3|                 2.5|        0.0|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
only showing top 20 rows

#### 2. Show the maximum fare amount, minimum fare amount, and average fare amount for each payment type. Order by payment type.
Round where you need to two decimal places.

In [12]:
spark.sql("""
    
    SELECT
        payment_type,
        ROUND(MIN(fare_amount),2) AS min_fare_amount,
        ROUND(MAX(fare_amount),2) AS max_fare_amount,
        ROUND(AVG(fare_amount),2) AS avg_fare_amount
    FROM
        taxi_2024_08
    GROUP BY
        payment_type

""").show()

+------------+---------------+---------------+---------------+
|payment_type|min_fare_amount|max_fare_amount|avg_fare_amount|
+------------+---------------+---------------+---------------+
|           1|         -108.7|          650.0|           20.6|
|           3|         -999.0|          999.0|           6.26|
|           2|        -1174.1|         1386.2|          19.09|
|           4|         -900.0|          900.0|           1.37|
|           0|          -72.2|         394.76|          19.62|
+------------+---------------+---------------+---------------+

#### 3. For trips with a fare amount greater than 20, what is the total tip amount for each day (based on the tpep_pickup_datetime)?
Round the tip to two decimal places, and order the results from highest total tip amount.  
Hint: Check DATE() function, to convert tpep_pickup_datetime to date, to get only the YYYY-MM-DD.

In [18]:
spark.sql("""
    
    SELECT
        TO_DATE(tpep_pickup_datetime, 'yyyy/MM/dd') AS pickup_date,
        ROUND(SUM(tip_amount),2) AS total_tip_amount
    FROM
        taxi_2024_08
    WHERE
        fare_amount > 20
    GROUP BY
        TO_DATE(tpep_pickup_datetime, 'yyyy/MM/dd')
    ORDER BY
          1 

""").show()

+-----------+----------------+
|pickup_date|total_tip_amount|
+-----------+----------------+
| 2024-08-01|       176890.45|
| 2024-08-02|       169422.85|
| 2024-08-03|        163030.6|
| 2024-08-04|       170867.65|
| 2024-08-05|       179211.92|
| 2024-08-06|       177281.03|
| 2024-08-07|       194520.05|
| 2024-08-08|       191036.86|
| 2024-08-09|       156713.23|
| 2024-08-10|        149603.8|
| 2024-08-11|       174783.43|
| 2024-08-12|       156581.92|
| 2024-08-13|       152027.62|
| 2024-08-14|       164499.13|
| 2024-08-15|       173499.16|
| 2024-08-16|       161987.27|
| 2024-08-17|       149333.67|
| 2024-08-18|       155993.56|
| 2024-08-19|       181302.43|
| 2024-08-20|       174724.38|
+-----------+----------------+
only showing top 20 rows

#### 4. For each trip, show the fare amount along with a column that indicates if the trip was "expensive" (greater than 30) or "cheap" (less than or equal to 30).
Hint: Use CASE WHEN for deciding on expensive, or cheap.

In [21]:
spark.sql("""
    
    SELECT
        tpep_pickup_datetime,
        CASE
          WHEN fare_amount > 30 THEN "expensive"
          ELSE "cheap"
        END fare_category
    FROM
        taxi_2024_08
    LIMIT 10


""").show()

+--------------------+-------------+
|tpep_pickup_datetime|fare_category|
+--------------------+-------------+
| 2024-08-01 00:21:00|        cheap|
| 2024-08-01 00:20:01|    expensive|
| 2024-08-01 00:17:52|    expensive|
| 2024-08-01 00:49:08|        cheap|
| 2024-08-01 00:38:52|        cheap|
| 2024-08-01 00:57:59|        cheap|
| 2024-08-01 00:15:46|        cheap|
| 2024-08-01 00:32:17|        cheap|
| 2024-08-01 00:48:16|        cheap|
| 2024-07-31 23:30:15|        cheap|
+--------------------+-------------+

#### 5. Find the first trip (based on tpep_pickup_datetime) for each VendorID and display the fare amount.
Hint: You can use CTE with ROW_NUMBER().

In [24]:
spark.sql("""
    
    SELECT
        VendorID,
        fare_amount as first_fare_amount
    FROM
        (
        SELECT
            VendorID,
            fare_amount,
            ROW_NUMBER() OVER (PARTITION BY VendorID ORDER BY tpep_pickup_datetime) RN
        FROM
            taxi_2024_08
        )
    WHERE
        RN = 1

""").show()

+--------+-----------------+
|VendorID|first_fare_amount|
+--------+-----------------+
|       1|             70.0|
|       2|             10.7|
+--------+-----------------+

#### 7. Calculate the average trip distance for each VendorID, and assign a label of 'Above Average' or 'Below Average' for each trip based on the distance relative to the VendorIDâ€™s average trip distance.
Hint: CTE joined back to the main DataFrame.

In [28]:
spark.sql("""
    
    WITH avg_trip_dist_by_vendor AS
        (
        SELECT
            VendorID,
            AVG(TRIP_DISTANCE) OVER (PARTITION BY VendorID) AS average_trip_distance            
        FROM
            taxi_2024_08
        )
    SELECT
        t.VendorID,
        t.tpep_pickup_datetime,
        t.trip_distance,
        a.average_trip_distance,        
        CASE
            WHEN t.trip_distance >= a.average_trip_distance THEN "Above Average"
            ELSE "Below Average"
        END AS fare_category        
    FROM
        taxi_2024_08 t
    INNER JOIN
        avg_trip_dist_by_vendor a
    ON
        t.VendorID = a.VendorID
        

""").show(10)

+--------+--------------------+-------------+---------------------+-------------+
|VendorID|tpep_pickup_datetime|trip_distance|average_trip_distance|fare_category|
+--------+--------------------+-------------+---------------------+-------------+
|       1| 2024-08-31 23:24:04|          1.9|    4.034096101093453|Below Average|
|       1| 2024-08-31 23:53:21|          3.0|    4.034096101093453|Below Average|
|       1| 2024-08-31 23:09:34|         11.2|    4.034096101093453|Above Average|
|       1| 2024-08-31 23:19:32|          9.1|    4.034096101093453|Above Average|
|       1| 2024-08-31 23:32:03|          1.9|    4.034096101093453|Below Average|
|       1| 2024-08-31 23:14:45|          0.0|    4.034096101093453|Below Average|
|       1| 2024-08-31 23:39:25|         11.2|    4.034096101093453|Above Average|
|       1| 2024-08-31 23:27:49|          2.2|    4.034096101093453|Below Average|
|       1| 2024-08-31 23:28:04|          1.5|    4.034096101093453|Below Average|
|       1| 2024-08-31 23:56:38|          1.9|    4.034096101093453|Below Average|
+--------+--------------------+-------------+---------------------+-------------+
only showing top 10 rows